{% extends "orders/base.html" %}
{% load static %}

{% block content %}

    {% if object %}
        <div class="h3">Заказ №{{ object.pk }} от {{ object.created|date:"Y-m-d H:i:s" }}</div>
        <p class="">
            <b>Заказчик:</b> {{ user.last_name }} {{ user.first_name }}
        </p>
        <p>
            <b>Обновлен:</b> {{ object.updated|date:"Y-m-d H:i:s" }}
        </p>
        <p>
            <b>Статус:</b> {{ object.get_status_display }}
        </p>
    {% endif %}

    <div class="basket_list mb-3">
        <b>В заказе:</b>
        {% for item in object.orderitems.select_related %}
            <div class="basket_record">
                <img style="height: 150px" src="{{ item.product.image.url }}"
                     alt="{{ item.product.short_desc }}">
                <span class="category_name">
                   {{ item.product.category.name }}
               </span>
                <span class="product_name">{{ item.product.name }}, </span>
                <span class="product_price">{{ item.product.price }}&nbspруб</span>
                <span class="product_quantitiy">x {{ item.quantity }} шт.
               </span>
                <span class="product_cost">
                    = {{ item.get_product_cost }}&nbspруб
               </span>
            </div>
        {% endfor %}
    </div>
    <hr class="hr-shadow">
    <p>
        <b>Общее количество товаров:</b> {{ object.get_total_quantity }}
    </p>
    <p>
        <b>Общая стоимость:</b> {{ object.get_total_cost }} руб.
    </p>
    <button id="start-purchase-btn" type="button" class="btn btn-lg mb-5 mt-4 mr-3">
        <a id="start-purchase-link" href="{% url 'orders:list' %}">К списку заказов</a>
    </button>
    <button id="start-purchase-btn" type="button" class="btn btn-lg mb-5 mt-4">
        <a id="start-purchase-link" href="{% url 'index' %}">Вернуться на главную</a>
    </button>

{% endblock %}