{% extends 'blogs/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for post in posts %}
                <div class="col-lg-6 col-md-6 mb-6">
                    <div class="card h-100" style="background-color: #ccddec">
                        <div class="card-body">
                            <img class="rounded mb-2" src="{{ post.image.url }}" width="100%"/>
                            <h4 class="card-title">
                                <a class="my_link" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </h4>
                            <p class="card-text">{{ post.body|truncatewords:25 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-2 mb-2">
            <ul class="pagination mt-3">
                <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
                    <a class="page-link-custom" href="{% if posts.has_previous %}
                       {% url 'blogs:page' posts.previous_page_number %}
                       {% else %} # {% endif %}" tabindex="-1" aria-disabled="true">
                        Предыдущая
                    </a>
                </li>
                {% for page in posts.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link-custom" href="{% url 'blogs:page' page %}">{{ page }}</a>
                    </li>
                {% endfor %}
                <li class="page-item {% if not posts.has_next %} disabled{% endif %} ">
                    <a class="page-link-custom" href="{% if posts.has_next %}
                    {% url 'blogs:page' posts.next_page_number %}{% else %} # {% endif %}">Следующая
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; ООО «Рубикон» {% now "Y" %}</p>
        </div>
    </footer>
{% endblock %}