{% extends 'blogs/base.html' %}
{% load static %}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/blogs.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-lg-4">Блог</h1>
            </div>
            <div class="row">
                {% for post in posts %}
                    <div class="col-lg-6 col-md-6 mb-6">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top" src="{{ post.image.url }}" alt=""/>
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.header }}</a>
                                </h4>
                                <p class="card-text">{{ post.body|truncatewords:30|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <nav aria-label="Page navigation example justify-content-center ">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
                        <a class="page-link justify-content-center" href="{% if posts.has_previous %}
                                    {% url 'blogs:page' posts.previous_page_number %}
                                    {% else %} # {% endif %}" tabindex="-1" aria-disabled="true">
                            Previous
                        </a>
                    </li>

                    {% for page in posts.paginator.page_range %}
                        <li class="page-item">
                            <a class="page-link" href="{% url 'blogs:page' page %}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    <li class="page-item {% if not posts.has_next %} disabled{% endif %} ">
                        <a class="page-link"
                           href="{% if posts.has_next %} {% url 'blogs:page' posts.next_page_number %}
                                     {% else %} # {% endif %}">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; ООО «Рубикон» {% now "Y" %}</p>
        </div>
    </footer>
{% endblock %}