{% extends 'blogs/base.html' %}
{% load static %}

{% block css %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/blogs.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-lg-4">Блог</h1>
            </div>
            <div class="row">
                {% for new in news %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#">
                                <img class="card-img-top" src="{{ new.image.url }}" alt=""/>
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{ new.header }}</a>
                                </h4>
                                <h6>{{ new.date_public.today }} </h6>
                                <p class="card-text">{{ new.body }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">&copy; ООО «Рубикон» {% now "Y" %}</p>
        </div>
    </footer>
{% endblock %}