{% extends 'blogs/base.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="container-sm">
            <div class="">
                <div class="col-lg-9 index_text">
                    <p class="mt-5">Компания «Рубикон» — IT-предприятие, основное направление деятельности которого –
                        информационная безопасность. Мы занимаемся решением задач по аудиту, созданию и оптимизации
                        IT-инфраструктур.</p>
                    <p>Если ваша организация нуждается в грамотном подходе к решению вопросов информационной
                        безопасности – свяжитесь с нами любым из представленных на сайте способов. Наши специалисты
                        дадут развёрнутую консультацию, ответят на все ваши вопросы.</p>
                    <p>Компания «Рубикон» имеет необходимые лицензии от регуляторов и сертификаты, подтверждающие работу
                        с ведущими компаниями в сфере информационной безопасности.</p>
                </div>
                <button class="btn-custom">
                    <a class="my_link" style="color: white" href="{% url 'blogs:index' %}"> Читать блог </a>
                </button>
            </div>
        </div>
    </section>
{% endblock %}
