{% extends "blogs/base.html" %}

{% block content %}
    <div class="container-sm mt-5 mb-5">
        <div id="card" class="card" style="background-color: #ccddec">
            <div class="card-body">
                <div class="d-flex float-sm-left">
                    <img class="rounded ml-2 mr-4 mt-2" src="{{ post.image.url }}" width="100%"/>
                </div>
                <h4 class="card-title"> {{ post.title }} </h4>
                <p class="text-capitalize"> Опубликовано {{ post.publish }}</p>
                <p class="card-text"> {{ post.body|linebreaks }} </p>
            </div>
            <div class="card-body">
                <h5 class="card-title"> Комментарии <span class="text-muted">• {{ post.comments.count }}</span></h5>
                {% for comment in post.comments.all %}
                    {% if comment.active %}
                        <div class="card mt-2 mb-2">
                            <div class="card-body" style="background-color: #daeefe;">
                                <p>{{ comment.user }} <span class="text-muted"> • {{ comment.created }}</span></p>
                                {{ comment.body|linebreaks }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if not user.is_authenticated %}
                    <hr class="hr-shadow">
                    <h5 class="card-title"> Чтобы оставлять комментарий, нужно сначала авторизоваться </h5>
                {% endif %}
                {% if user.is_authenticated %}
                    <hr class="hr-shadow">
                    <h5 class="card-title"> Ваш комментарий </h5>
                    <form action="{% url 'blogs:post_detail' post.slug %}" method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <div class="d-flex justify-content-center">
                            <button class="btn-custom" type="submit">Опубликовать комментарии</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark ">
        <p class="m-0 text-center text-white">&copy; ООО «Рубикон» {% now "Y" %}</p>
    </footer>
{% endblock %}
