{% extends "blogs/base.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'css/blogs.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="card" class="card h-100">
            <img class="card-img-top pt-4 pb-3 pl-4 pr-4" src="{{ post.image.url }}" alt=""/>
            <div class="card-body">
                <h4 class="card-title">
                    {{ post.header }}
                </h4>
                <p class="public_comment">
                    Опубликовано {{ post.publish }} пользователем - {{ post.author }}
                </p>
                <p class="card-text">
                    {{ post.body|linebreaks }}
                </p>
                {% for comment in post.comments.all %}
                    {% if comment.active %}
                        <div>
                            <p class="info_about_comment"> {{ comment.created }} - комментирует {{ comment.name }} </p>
                            {{ comment.body|linebreaks }}
                        </div>
                    {% endif %}
                {% endfor %}
                {% if comments.count > 0 %}
                    <h5 class="card-title">
                        Всего комментариев под постом - {{ comments.count }}
                    </h5>
                {% else %}
                    <h5 class="card-title">
                        Комментариев пока нет
                    </h5>
                {% endif %}
                {% if user.is_authenticated %}
                    <hr class="hr-shadow">
                    <h5 class="card-title"> Ваш ответ </h5>
                    <form action="{% url 'blogs:post_detail' post.slug %}" method="post">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <div style="text-align: center">
                            <input id="start-purchase-btn" class="btn btn-info" type="submit"
                                   value="Опубликовать комментарии">
                        </div>

                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark ">
        <p class="m-0 text-center text-white">&copy; ООО «Рубикон» {% now "Y" %}</p>
    </footer>
{% endblock %}
